services:
  # PHP-FPM container
  servicename:
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
    env_file: .env
    volumes:
      - .:/var/www/html/project-name
      - ./storage:/var/www/html/project-name/storage
      - ./bootstrap/cache:/var/www/html/project-name/bootstrap/cache
    networks:
      - app_network

  # Nginx container (uses base image)
  servicename-nginx:
    image: nginx:1.27
    environment:
      - VIRTUAL_HOST=domainA.com
      - VIRTUAL_PORT=80
    volumes:
      - .:/var/www/html/project-name
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    labels:
      - "com.docker.compose.project=project-name"
      # Enable automatic HTTPS (use only with a real domain, do not use with localhost)
      # - "LETSENCRYPT_HOST=corexhub.example.com"
      # - "LETSENCRYPT_EMAIL=admin@example.com"
    depends_on:
      - servicename
    networks:
      - app_network

networks:
  app_network:
    external: true
    name: app_network
