/vendor/
/node_modules/
.env
.env.local
.env.production
/storage/*
!/storage/framework/
!/storage/logs/
.phpunit.result.cache
.idea/
.vscode/
.DS_Store
npm-debug.log
yarn-error.log
docker-compose.override.yml
docker-compose.yml
/build/
/public/storage
/storage/*.key
*.log
*.bak
*~
Thumbs.db
*.swp
*.swo
projects/*
